// Grid variables-----------------------------------

@import 'grid.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;

@total-width: 100%; 

// Color variables---------------------------------

@black: #0f0f0f;
@white: #efefef;
@gray: #5a5b5d;
@blue: #8cc6ec;
@light_blue: #c6e3f6;

// Type imports------------------------------------

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../type/League_Gothic-webfont.eot');
    src: url('../type/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/League_Gothic-webfont.woff') format('woff'),
         url('../type/League_Gothic-webfont.ttf') format('truetype'),
         url('../type/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AnonymousProRegular';
    src: url('../type/Anonymous_Pro-webfont.eot');
    src: url('../type/Anonymous_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/Anonymous_Pro-webfont.woff') format('woff'),
         url('../type/Anonymous_Pro-webfont.ttf') format('truetype'),
         url('../type/Anonymous_Pro-webfont.svg#AnonymousProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Type mixins------------------------------------

.heading {
	font-family: 'AnonymousProRegular', Monaco, 'Lucida Console', sans-serif;
}

.copy {
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 1.4em;
}

// Styling mixins--------------------------------

.bottom_corner {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.spacing {
	margin: 1em;
}

// Page layout and styling-----------------------

body {
	background: @black;
	margin: 0;
}

header {
	.column(12);
	background: @white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* why doesn't this work? */
} 

h1 {
	.heading;
	.spacing;
}

.highlight {
   	color: @black;
        -webkit-transition: color 0.75s;
        -moz-transition: color 0.75s;
        -o-transition: color 0.75s;
}

.highlight:hover {
	color: @blue;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 20px 0 0 .5em;
	text-shadow: 0 0 1px @white;
}

.nav {
	float: right;
	list-style-type: none;
	margin: -60px 2em 0 0;
}

.nav li {
	color: @blue;
	float: left;
	padding-right: 15px;
	-webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}

.nav li a {
	.heading;
	color: @blue;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
}

.nav li a.active {
	text-decoration: underline;
}

.nav li:hover {
	-webkit-transform: rotate(-15deg); 
	-moz-transform: rotate(-15deg);
}

article {
	.bottom_corner;
	.column(8);
	.copy;
	background: @gray;
	color: @white;
	letter-spacing: .05em;
	text-shadow: 1px 1px 0 @black;
}

p {
	.spacing;
}

sidebar {
	border-radius: 0 0 200px 50px;
	.column(4);
	.copy;
	background: @blue;
}

sidebar ul {
    margin: 0 1.5em 0.75em 1.5em;
    padding: 0 1em;
    list-style: none;
}

sidebar ul li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

// Media Queries-----------------------------------

@media (max-width: 860px) {
	.nav {
		float: left;
		margin: -25px 0 10px 55px;
	}
}

@media (max-width: 480px) {
	article {
        	.column(12);
		border-radius: 0;
	}
  	sidebar {
       		.column(12);
        }
        h1 {
       		font-size: 150%;
        }
	.nav {
		font-size: 16px;
		margin: -10px 0 15px 30px;

	}
	.nav li a {
		font-size: 16px;
	}
}
